/*---------------------------------------------------------tijdelijk-------------------------------------------------------------------------*/
article img {
    width: 300px;
}
footer img {
    width: 300px;
}
/*----------------------------------------------------------Overall--------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "RoxFont";
    src: url("../fonts/vremenagrotesk-webfont.woff2") format("woff2");
    font-weight: normal;
}


h1 {
    font-family: "RoxFont";
    font-style: normal;
}

/*----------------------------------------------------------Cursor---------------------------------------------------------------------------*/
/*----------------------------------------------------------Header---------------------------------------------------------------------------*/
header {
    background-color: aqua;

    img {
        height: 3rem;
    }
}

.menu {
    box-shadow: 0px 20px 26px rgba(54, 53, 53, 0.16);
    display: flex;
    justify-content: space-between;

    ul {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
    }

    li {
        height: 50px;
    }

    a {
        height: 100%;
        padding: 0 30px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }
}


/*burger menu*/

.burgermenu {
    background-color: brown;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15vw;
    background-color:#F9F9F9;
    box-shadow: 0px 20px 26px rgba(54, 53, 53, 0.16);
    display: none;

    ul {
        rotate: -90deg;
        display: flex;
    }
}

/*icoontje burger menu zichtbaar op mobile en normale nav bar weg*/
.menu-icon {
    display: none;
}

@media screen and (max-width: 800px) {
.hideOnMobile {
    display: none;}
.menu-icon {
    display: block;}
}

/*----------------------------------------------------------Hero-----------------------------------------------------------------------------*/
/*----------------------------------------------------------Filter---------------------------------------------------------------------------*/
/*----------------------------------------------------------Main-----------------------------------------------------------------------------*/
/*----------------------------------------------------------Concept section------------------------------------------------------------------*/
/*----------------------------------------------------------Footer---------------------------------------------------------------------------*/
/*----------------------------------------------------------Comunity section-----------------------------------------------------------------*/
/*----------------------------------------------------------Link section---------------------------------------------------------------------*/
/*----------------------------------------------------------Contact section------------------------------------------------------------------*/
/*----------------------------------------------------------Lower footer Partners------------------------------------------------------------*/