/*---------------------------------------------------------tijdelijk-------------------------------------------------------------------------*/
article img {
    width: 300px;
}
footer img {
    width: 300px;
}
/*----------------------------------------------------------Overall--------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

:root {
    /*house style colors*/
    --darkblue: #0D3951;
    --lightblue: #8BCBBD;
    --creme: #EBDAC4;
    --black: #2A2A2A;
    --white: #FFFFFF;
}

h1 {
    font-family: "RoxFont";
    font-style: normal;
}

p{
    font-size: 16px;
    line-height: 1.4px;
    color: var(--black);
}


/*----------------------------------------------------------Cursor---------------------------------------------------------------------------*/
/*----------------------------------------------------------Header---------------------------------------------------------------------------*/
/*----------------------------------------------------------Hero-----------------------------------------------------------------------------*/
/*----------------------------------------------------------Filter---------------------------------------------------------------------------*/
/*----------------------------------------------------------Main-----------------------------------------------------------------------------*/
/*----------------------------------------------------------Concept section------------------------------------------------------------------*/
/*----------------------------------------------------------Footer---------------------------------------------------------------------------*/
/*----------------------------------------------------------Comunity section-----------------------------------------------------------------*/
/*----------------------------------------------------------Link section---------------------------------------------------------------------*/
/*----------------------------------------------------------Contact section------------------------------------------------------------------*/
/*----------------------------------------------------------Lower footer Partners------------------------------------------------------------*/